@foreach (SimpleListData.ListItem item in Model.ListItems)
{
    <tr>
        <td data-id="@item.ListItemId">
            @if (item.DateDone.HasValue)
            {
                <input type="checkbox" class="list-item-isdone" checked="checked" />
            }
            else
            {
                <input type="checkbox" class="list-item-isdone" />
            }
            @item.ListItemName<span class="close remove-list-item" data-id="@item.ListItemId">x</span>
        </td>
    </tr>
}

<tr>
    @if (@Model.ListStatus == SimpleListData.UserListStatus.Open)
    {
        <td class="list-item-new">
            <input class="list-item-new" style="width:100%;" />
        </td>
    }
    else
    {
        <td class="list-item-new" style="display:none;">
            <input style="width:100%;" />
        </td>
    }
</tr>
